node_modules

# hide secrets
.env

# hide installer / package manager logs
yarn-error.log

# hide the build directory
dist/


# I can figure out a path based solution.
secure
deploy-server.sh

# hide db seeding files
src/utility.db-seed.overpass-hotels-sf.json
zapatosconfig.json

postgresConfig/secret/

# Hide deployment details
deploy.sh
